*{
 font-family: 'Roboto', sans-serif;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
background-color:white  ;
  }

  main {
    flex: 1 0 auto;
  }
  h1{
    color:#f57c00;
   font-family: 'Quicksand', sans-serif;
  }

 .brick{
background-color:
#c1856d!important;

  }

  .sticky{
    position: fixed;
    top:0;
    width:100%;
  }